<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IA DEMO</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="container">


    <div class="text-center">
        <h5 class="card-header">RECONOCIMIENTO DE DÍGITOS</h5>
        <div class="card-body">
            <h5 class="card-title">Escriba un dígito para identificar</h5>




                                   <h3 id="resultado">Resultado: </h3>
                    <div id="sketch" style="width:200px; height: 200px; border: 1px solid black;">
                    <canvas id="paint"></canvas>
                    </div>



                <a href="/digits/train">Train me</a>





            <button class="btn btn-danger clear-canvas" type="button">Limpiar</button>
            <button class="btn btn-primary" type="button" id="submit-image">Enviar</button>

        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>

 (function() {
    var canvas = document.querySelector('#paint');
    var ctx = canvas.getContext('2d');

    var sketch = document.querySelector('#sketch');
    var sketch_style = getComputedStyle(sketch);
    canvas.width  = 200;
    canvas.height = 200;
    canvas.style.width  = '200px';
    canvas.style.height = '200px';

    var mouse = {x: 0, y: 0};
    var last_mouse = {x: 0, y: 0};

    /* Mouse Capturing Work */
    canvas.addEventListener('mousemove', function(e) {
        last_mouse.x = mouse.x;
        last_mouse.y = mouse.y;

        mouse.x = e.pageX - this.offsetLeft;
        mouse.y = e.pageY - this.offsetTop;
    }, false);


    /* Drawing on Paint App */
    ctx.lineWidth = 5;
    ctx.lineJoin = 'round';
    ctx.lineCap = 'round';
    ctx.strokeStyle = 'black';

    canvas.addEventListener('mousedown', function(e) {
        canvas.addEventListener('mousemove', onPaint, false);
    }, false);

    canvas.addEventListener('mouseup', function() {
        canvas.removeEventListener('mousemove', onPaint, false);
    }, false);

    var onPaint = function() {
        ctx.beginPath();
        ctx.moveTo(last_mouse.x, last_mouse.y);
        ctx.lineTo(mouse.x, mouse.y);
        ctx.closePath();
        ctx.stroke();
    };

    var clear = document.querySelector('.clear-canvas');
    clear.addEventListener('click', function(e) {
        const context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        var p = document.querySelector('#resultado');
            p.innerHTML = "Resultado: ";
    });

    var submit = document.querySelector('#submit-image');
    submit.addEventListener('click', function(e) {

        $.ajax({
          type: "POST",
          url: "/digits/predict",
          data: {
             csrfmiddlewaretoken: window.CSRF_TOKEN,
             digitImage: canvas.toDataURL()
          }
        }).done(function(data) {
            var p = document.querySelector('#resultado');
            p.innerHTML = "Resultado: " + data.result;
        });

    });

}());
</script>
</body>
</html>
